@model IEnumerable<FormularioCuestionario.Models.Ciudades>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCiudadPadron)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCiudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCiudadPadron)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCiudad }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCiudad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCiudad })
        </td>
    </tr>
}

</table>
